html, body, #root {
  margin: 0;
  padding: 0;
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  
}

.pagina-conteudo {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  color: #ddd;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

h2 {
  font-size: 2rem;
  color: #aabaff;
  margin-bottom: 25px;
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 40px;
}
