/* Estilo geral da página Saturno */
.saturno-container {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  color: #f0f0f0;
  font-family: 'Inter', sans-serif;
  background: black;
  min-height: 100vh;
}

/* Cabeçalho da seção Saturno */
.saturno-header {
  text-align: center;
  margin-bottom: 3rem;
}

.saturno-header h1 {
  font-size: 2.5rem;
  color: #FFFF82;
  margin-bottom: 1rem;
}

.saturno-header p {
  color: #F7F0F5;
  font-size: 1.1rem;
  font-family: 'Exo 2', sans-serif;
}

