.estacao-page {
  padding: 4rem 2rem;
  max-width: 1000px;
  margin: 0 auto;
  color: #F7F0F5;
  font-family: 'Exo 2', sans-serif;
  background: black;
  min-height: 100vh;
  text-align: center;
}

.estacao-page h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.estacao-page p {
  font-size: 1.1rem;
  color: #F7F0F5;
  margin-bottom: 4rem;
}